@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@media only screen and (min-width: 500px) {
    .module2 {
        width: 80vw;
        background:orange;
        .question1{
            details[open] summary ~ * {
                animation: sweep .5s ease-in-out;
              }
              
              @keyframes sweep {
                0%    {opacity: 0; transform: translateX(-10px)}
                100%  {opacity: 1; transform: translateX(0)}
              }
            .quesDet1 {
                .summ1 {
                    color:red;
                    padding:.5rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:white;
                    border-bottom: .1rem white solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:white;
                        font-family: 'Glory', sans-serif;  
                        font-style:italic ;             
                        font-size:1.2rem;
                        width:80%;
                        display: block;
                       margin-left: auto;
                       margin-right: auto;
                    }
                    div{
                        width:80%;
                        display: block;
                       margin-left: auto;
                       margin-right: auto;
                        display:flex;
                        justify-content:space-evenly;
                        align-items:center;
                        div {
                            width:50%;
                            display:flex;
                            flex-flow:column;
                            img{
                                width:100%;
                            }
                            div{
                                     width:100%;
                                p{
                                    width:100%;
                                    font-style: normal;
                                    font-family: monospace;
                                }  
                            }
                        }
                    }
                }
            }
            .quesDet2 {
                .summ2 {
                    color:red;
                    padding:.5rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:white;
                    border-bottom: .1rem white solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    img{
                        width:80%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    p{
                        color:white;
                        font-family: 'Glory', sans-serif;     
                        font-style: italic;          
                        font-size:1.2rem;
                        width:80%;
                        display: block;
                       margin-left: auto;
                       margin-right: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .module2 {
        // display: none;
        background:orange;
        width:96vw;
        left: 0;
        .question1{
            details[open] summary ~ * {
                animation: sweep .5s ease-in-out;
              }
              
              @keyframes sweep {
                0%    {opacity: 0; transform: translateX(-10px)}
                100%  {opacity: 1; transform: translateX(0)}
              }
            .quesDet1 {
                .summ1 {
                    color:red;
                    padding:.3rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:white;
                    border-bottom: .1rem white solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:white;
                        font-family: 'Glory', sans-serif;  
                        font-style:italic ;             
                        font-size:1.2rem;
                    }
                }
            }
            .quesDet2 {
                .summ2 {
                    color:red;
                    padding:.3rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:white;
                    border-bottom: .1rem white solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:white;
                        font-family: 'Glory', sans-serif;     
                        font-style: italic;          
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
}