@media only screen and (min-width:500px) {
    .module3 {
        border:1px white solid;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        background-color: red;
        align-items: center;
        width: 80vw;
        margin-top:3rem;
        overflow: hidden;
        cursor: move;
        .loadersSec3{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #loaderpercent3{
                color:white;
                font-size: 10rem;
                background:black;
                border-radius: 50px 50px 0 0;
            }
            progress{
                border:2px white solid;
                border-radius:1rem; 
                overflow: hidden;
                background:white;
                height:1rem;
            }
            .d3Env3{
                font-size:3rem;
                background:black;
                padding:0 10 0 10;
                font-weight: 800;
                color:white;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }
}
@media only screen and (max-width:500px) {
}
