@media only screen and (min-width:500px) {
    .module3 {
        border:1px white solid;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        background-color: red;
        align-items: center;
        width: 80vw;
        margin-top:3rem;
        overflow: hidden;
        cursor: move;
        
    }
}
@media only screen and (max-width:500px) {
    .module3 {
        border:1px white solid;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        background-color: red;
        align-items: center;
        width: 96vw;
        height: 100vw;
        margin-top:1rem;
        overflow: hidden;
        cursor: move;
    }
}
