@media only screen and (min-width:500px) {
    .module1 {
        border:1px white solid;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        background-color: red;
        align-items: center;
        width: 80vw;
        overflow: hidden;
        .loadersSec{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #loaderpercent{
                color:white;
                font-size: 10rem;
                background:black;
                border-radius: 50px 50px 0 0;
            }
            progress{
                border:2px white solid;
                border-radius:1rem; 
                overflow: hidden;
                background:white;
                height:1rem;
            }
            .d3Env{
                font-size:3rem;
                background:black;
                padding:0 10 0 10;
                font-weight: 800;
                color:white;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }
}
@media only screen and (max-width:500px) {
    .module1 {
        border: 2px orange solid;
        border-radius: 30px;
        height:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .loadersSec{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #loaderpercent{
                color:orange;
                font-size: 4.5rem;
                font-weight: 600;
                background:white;
                border-radius: 10px 10px 0 0;
            }
            progress{
                border:2px white solid;
                overflow: hidden;
            }
            .d3Env{
                font-size:1.5rem;
                background:white;
                font-weight: 800;
                color:orange;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }
}