@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
.module0{
    flex-direction: column;
    p{
        font-family: 'glory';
    }

}
@media only screen and (min-width: 500px){
    .module0 {
        color:white;
        display:flex;
        align-items: center;
        justify-content:center;
        .heading {
            font-size: 4rem;
        }
        .subheading {
            font-style: italic;
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 500px) {
    .module0 {
        color:orange;
        display:flex;
        align-items: center;
        justify-content:center;
        .heading {
            font-size: 4rem;
        }
        .subheading {
            font-style: italic;
            font-size: 1.5rem;
        }
    }
}