@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
.module0{
    flex-direction: column;
    p{
        font-family: 'glory';
    }

}
@media only screen and (min-width: 500px){
    .module0 {
        color:white;
        display:flex;
        align-items: center;
        // justify-content:center;
        top:0;
        position: absolute;
        background:rgba(116, 104, 104, 0.493);
        width:100vw;
        .heading {
            font-size: 3rem;
            .rocketLogo{
                animation: rocketAnim 10s infinite;
            }
            @keyframes rocketAnim {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
            }
        }
        .subheading {
            font-style: italic;
            font-size: 1.2rem;
        }
    }
}
@media only screen and (max-width: 500px) {
    .module0 {
        color:orange;
        display:flex;
        align-items: center;
        justify-content:center;
        top:0;
        position: absolute;
        background:rgba(93, 146, 170, 0.74);
        width:100vw;
        .heading {
            font-size: 3rem;
            .rocketLogo{
                animation: rocketAnim 10s infinite;
                color:white
            }
            @keyframes rocketAnim {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
            }
            .moonLogo{
                color:white;
            }
        }
        .subheading {
            & > * {
                font-style: italic;
                font-size: 1.2rem;
                font-family: 'glory';
                font-weight: 800;
            }
        }
    }
}