*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: .4s;
}
.App {
    .subApp{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &::-webkit-scrollbar {
        display: none;
      }
    // background: url(https://images.pexels.com/photos/76969/cold-front-warm-front-hurricane-felix-76969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    // background-position: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;
    #backVid1{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -10;
        min-width: 100vw; 
        min-height: 100vh;
    }
    overflow-y: scroll;
    height:100vh;
    h1 {
        color:red
    }
    .App-module1 {
        background:red;
        width: 100vw;
    }
}