*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display:flex;
    align-items: center;
    justify-content: center;
    h1 {
        color:red
    }
    .App-module1 {
        background:red;
        width: 100vw;
    }
}