@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@media only screen and (min-width: 500px) {
    .Module4 {
        width: 80vw;
        background:white;
        .question1{
            details[open] summary ~ * {
                animation: sweep .5s ease-in-out;
              }
              
              @keyframes sweep {
                0%    {opacity: 0; transform: translateX(-10px)}
                100%  {opacity: 1; transform: translateX(0)}
              }
            .quesDet1 {
                .summ14 {
                    color:red;
                    padding:.5rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:black;
                    border-bottom: .1rem lightgreen solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:black;
                        font-family: 'Glory', sans-serif;  
                        font-style:italic ;             
                        font-size:1.2rem;
                    }
                }
            }
            .quesDet2 {
                .summ2 {
                    color:red;
                    padding:.5rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:black;
                    border-bottom: .1rem lightgreen solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:black;
                        font-family: 'Glory', sans-serif;     
                        font-style: italic;          
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .Module4 {
        // display: none;
        background:white;
        width:96vw;
        left: 0;
        .question1{
            details[open] summary ~ * {
                animation: sweep .5s ease-in-out;
              }
              
              @keyframes sweep {
                0%    {opacity: 0; transform: translateX(-10px)}
                100%  {opacity: 1; transform: translateX(0)}
              }
            .quesDet1 {
                .summ14 {
                    color:red;
                    padding:.3rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:black;
                    border-bottom: .1rem lightgreen solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:black;
                        font-family: 'Glory', sans-serif;  
                        font-style:italic ;             
                        font-size:1.2rem;
                    }
                }
            }
            .quesDet2 {
                .summ2 {
                    color:red;
                    padding:.3rem;
                    font-size:1.4rem;
                    font-family: 'Glory', sans-serif;                
                    font-weight: 800;
                    color:black;
                    border-bottom: .1rem lightgreen solid;
                    cursor:pointer;
                }
                div {
                    padding:.5rem;
                    p{
                        color:black;
                        font-family: 'Glory', sans-serif;     
                        font-style: italic;          
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
}